<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Secure app</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:insert="header"></div>
<div class="container text-center">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Orders</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}" />
                    <td th:text="${order.bookTitle}" />
                    <td th:text="${order.price}" />
                    <td th:text="${order.comment}" />
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>